#nombre:hover{
    color: rgb(186, 186, 186) !important;
}

.nav-link.link-body-emphasis:hover {
    color: #bd8d15 !important;  /* Amarillo más oscuro */
}

.nav-link.bg-warning:hover{
    background-color: #bd8d15 !important;
}

:root{ /*Colores que he "creado". Les pongo un nombre*/
    --bs-gris: #a2a9ae;
    --bs-amarillo: #c99000;
}

.bg-gris{
    background-color: var(--bs-gris); /*Guardo el color(--bs-gris) en el class(bg-gris) que he creado para ese color*/
}

.bg-amarilloOscuro{
    background-color: var(--bs-amarillo); 
}

.text-gris{
    color: var(--bs-gris);
}

.text-amarillo{
    color: var(--bs-amarillo); 
}

.contenedorInicial{
    background: linear-gradient(to right, rgba(53, 53, 53, 0.8) 30%, rgba(142, 142, 142, 0.8) 100%);
}

.contenedorAmmuNation{
    background-image: url(../img/ammu_nation.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedorProyectos{
    background: linear-gradient(to right, rgba(41, 41, 41, 0.5) 30%, rgba(219, 219, 219, 0.2) 100%);
}

#formulario{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 20px;
}

.btn.btn-sm.btn-outline-secondary.bg-warning.text-dark:hover{
    background-color: #bd8d15 !important;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo gris oscuro semi-transparente */
}

.imagenTamanio{
    height: 24px;
}
